.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 150px 0;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

}
.grid-item {
    font-size: 50px;
    text-align: center;
    border-radius:8px;
}

.grid-item img{
    width: 50%;
}

.grid-item:hover{
    cursor: pointer;
}
.bg{
    background-image: url("../images/Abcbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}