.homepage{
    padding-top: 79px;
}
.introduct-banner{
    background-image: url("../images/introduction.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 424px;
    z-index: 999;
}

.category-course{
    padding: 50px 0 50px 0;
}

.zoom:hover{
    transform: scale(1.1);
    transition: transform .2s;
    text-decoration: underline;
    cursor: pointer;
}

h4:after{
    text-decoration: underline;
}

.title{
    text-decoration: none;
    color: #68C2E8;
    font-family: Prompt;
}

.title :hover{
    color: #222222;
    text-decoration-color: #222222;
}